body {
    color: #f6f6f6;
    background-color: #0082f0;
    font-family: 'Baloo Chettan 2', cursive;
}

p {
    margin-top: 10px;
    font-size: 18px;
}

figcaption {
    font-size: 16px;
}

#roster {
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
}

#playerPicture {
    width: 20%;
}